!
{% include 'router/snippets_2911/service_commands.ios' %}

!
!
{% include 'router/snippets_2911/aaa.ios' %}

!
!
{% include 'router/snippets_2911/acl_class_maps.ios' %}

!
!
{% include 'router/snippets_2911/acl_ipt.ios' %}

!
!
{% include 'router/snippets_2911/alias.ios' %}

!
!
{% include 'router/snippets_2911/atm_pos_policy.ios' %}

!
!
{% include 'router/snippets_2911/bms_policy.ios' %}

!
!
{% include 'router/snippets_2911/class_map_voice.ios' %}

!
!
{% include 'router/snippets_2911/guest_policy.ios' %}

!
!
{% include 'router/snippets_2911/class_maps_pm_network_input.ios' %}

!
!
{% include 'router/snippets_2911/class_maps_wan_policy.ios' %}

!
!
{% include 'router/snippets_2911/crypto.ios' %}

!
!
{% include 'router/snippets_2911/general_ssh.ios' %}

!
!
{% include 'router/snippets_2911/ip_sla_user_name.ios' %}

!
!
{% include 'router/snippets_2911/key_chain.ios' %}

!
!
{% include 'router/snippets_2911/logging.ios' %}

!
!
{% include 'router/snippets_2911/memory.ios' %}

!
!
{% include 'router/snippets_2911/multicast.ios' %}

!
!
{% include 'router/snippets_2911/netflow.ios' %}

!
!
{% include 'router/snippets_2911/ntp_clock.ios' %}

!
!
{% include 'router/snippets_2911/route_map_df.ios' %}

!
!
{% include 'router/snippets_2911/routing.ios' %}

!
!
{% include 'router/snippets_2911/snmp_policy.ios' %}

!
!
{% include 'router/snippets_2911/syslog.ios' %}

!
!
{% include 'router/snippets_2911/tacacs.ios' %}

!
!
{% include 'router/snippets_2911/tunnels.ios' %}

!
!
{% include 'router/snippets_2911/policy_map_pm_network_input.ios' %}

!
!
{% include 'router/snippets_2911/policy_map_pm_voice_input.ios' %}

!
!
{% include service_policy_template %}

!
!
{% include 'router/snippets_2911/lan_interfaces.ios' %}

!
!
{% include 'router/snippets_2911/wan_interfaces.ios' %}

!
!
{% include 'router/snippets_2911/line_vty_console.ios' %}